.root {
    -fx-font-family: "Space Grotesk";

    -musicx-color-primary: #e9ffff;
    -musicx-color-secondary: #b2d8d8;
    -musicx-color-alternative: #66b2b2;
    -musicx-color-ternary: #008080;
    -musicx-color-darker: #005a5a;

    -musicx-color-light-background: #2f3838;
    -musicx-color-background: #2a2f2f;
    -musicx-color-alt-background: #222828;
    -musicx-color-dark-background: #171c1c;

    -musicx-color-light-text: #ffffff;
    -musicx-color-dark-text: #003333;
    -musicx-color-error-text: #cc0000;
    -musicx-color-warning-text: #ffcc00;

    -musicx-color-gray: #808080;
}

/* Container class */
.box-container {
    -fx-padding: 20px;
    -fx-background-color: -musicx-color-background;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

/* Auto completion TextField */
.auto-complete-popup .list-view,
.auto-complete-popup .list-cell,
.auto-complete-popup .list-cell:filled,
.auto-complete-popup .list-cell:filled:hover,
.auto-complete-popup .list-cell:filled:selected,
.auto-complete-popup .list-cell:filled:selected:hover
{
    -fx-background-color: -musicx-color-dark-background;
}

/* JFX Slider */
.jfx-slider > .thumb,
.jfx-slider > .animated-thumb,
.jfx-slider > .colored-track {
    -fx-background-color: -musicx-color-alternative;
}

.jfx-slider > .thumb,
.jfx-slider > .animated-thumb {
    -fx-background-insets: 3px;
}

/* Table No Header */
.noTableHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/* TableView & ListView */
.table-view,
.list-view.transparent-list,
.table-view .table-cell,
.list-view.transparent-list .list-cell,
.table-view .corner,
.list-view.transparent-list .corner,
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-row-cell:filled:selected,
.transparent-list.list-cell:filled:selected {
    -fx-background-color: -musicx-color-darker;
}

.table-row-cell,
.transparent-list.list-cell {
    -fx-background-color: transparent;
    -fx-border-color: -musicx-color-light-background;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:even,
.list-cell:even {
    -fx-background-color: -musicx-color-background;
}

.table-row-cell:odd,
.list-cell:even {
    -fx-background-color: -musicx-color-alt-background;
}

/* TabPanes */
.tab-pane .tab-header-area,
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-padding: 0 3px 0 3px;
    -fx-border-radius: 10px 10px 0 0;
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: -musicx-color-dark-background;
}

.tab-pane.tab-round .tab {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.tab-pane .tab:selected {
    -fx-background-color: -musicx-color-ternary;
}

.tab-pane .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -musicx-color-light-text;
}

/* Text Field */
.main-search-text {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
    -fx-background-color: -musicx-color-light-background;
}

/* Toasts */
.toast {
    -fx-background-radius: 20;
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-padding: 50px;
}

/* Toggle Switch */
.toggle-switch:selected > .thumb {
    -fx-background-color: -musicx-color-ternary, -color-fg-emphasis;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: -musicx-color-ternary;
}

/* Utils */

.base-padding {
    -fx-padding: 10px;
}