.root {
    -fx-font-family: "Space Grotesk";

    -musicx-color-primary: #e9ffff;
    -musicx-color-secondary: #b2d8d8;
    -musicx-color-alternative: #66b2b2;
    -musicx-color-ternary: #008080;
    -musicx-color-background: #153a3a; /* Valeur assombrie */
    -musicx-color-alt-background: #122525; /* Valeur assombrie */
    -musicx-color-dark-background: #051c1c; /* Valeur assombrie */

    -musicx-color-light-text: #ffffff;
    -musicx-color-dark-text: #003333;
    -musicx-color-error-text: #cc0000;
    -musicx-color-warning-text: #ffcc00;

    -musicx-color-gray: #808080;
}

/* Container class */
.box-container {
    -fx-padding: 20px;
    -fx-background-color: -musicx-color-background;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

/* Table No Header */
.noTableHeader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

/* JFX Slider */
.jfx-slider > .thumb,
.jfx-slider > .animated-thumb,
.jfx-slider > .colored-track {
    -fx-background-color: -musicx-color-alternative;
}

/* TabPanes */
.tab-pane .tab-header-area {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab {
    -fx-border-radius: 10px 10px 0 0;
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: -musicx-color-dark-background;
}

.tab-pane .tab:selected {
    -fx-background-color: -musicx-color-background;
}

.tab-pane .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -musicx-color-light-text;
}